@tailwind base;
@tailwind components;
@tailwind utilities;

.project-card {
  height: 30rem;
}

.projects a {
  margin-left: 32rem;
}

.contact-card {
  width: 20rem;
}

@media (min-width: 768px) {
  .contact-container {
    width: 70rem;
  }
}
